# --- Laravel defaults ---
/vendor/
/node_modules/
/bootstrap/cache/
storage/*.key
storage/*.log
storage/debugbar/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# --- Env & IDE ---
.env
.env.*
.phpunit.result.cache
.php-cs-fixer.cache
*.sqlite
/.idea/
/.vscode/

# --- App specific ---
/public/cache/
/public/build/
/public/storage   # ignore the symlink itself (can't put a file beyond a symlink)
